.box{
      
    width: 250px;
    height: 250px;
    margin-left: 500px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 14px ;
    text-align: center;
    margin-top: 100px;
    position: relative;
 }
 .box img {
    width: 70%;
    transition: all 400ms;
 }
 .box h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 10px;
 }


